<div class="span12">
<h1>New product</h1>

<div class="toolbar group">
   <%= link_to "Back", admin_products_path, :class => "pull-right" %>
</div>

<%= simple_form_for(@product, :html => { :class => "form-horizontal" }, :url => admin_products_path ) do |f| %>
<%= render :partial => "form", :locals => { :f => f } %>
<% end %>

</div>