@import "bootstrap-setting";
@import "bootstrap";
@import "common-util";
@import "bootstrap-subnav";
@import "bootstrap-override";

.toolbar{
  padding: 10px;
}

select{
  width: 100px;
}

.product{
  width: 33%;
  float: left;
  height: 250px;
}
